@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body  {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q  {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Buttons */
.button {
  background-color: #009688;
  color: #fff;
  cursor: pointer; }

#filter-button:hover {
  color: #0099cc; }

.circle, .sec-landing .sub-content span:last-child {
  background-color: #009688; }

.button-more {
  padding: 10px 25px;
  background-color: #007167;
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer; }

/* Grid */
.row, .column {
  box-sizing: border-box; }

.row:before,
.row:after {
  content: '';
  display: table; }

.row:after {
  clear: both; }

.column {
  position: relative;
  float: left; }
  .column + .column {
    margin-left: 1.6; }

.col-1 {
  width: 6.86667%; }

.col-2 {
  width: 15.33333%; }

.col-3 {
  width: 23.8%; }

.col-4 {
  width: 32.26667%; }

.col-5 {
  width: 40.73333%; }

.col-6 {
  width: 49.2%; }

.col-7 {
  width: 57.66667%; }

.col-8 {
  width: 66.13333%; }

.col-9 {
  width: 74.6%; }

.col-10 {
  width: 83.06667%; }

.col-11 {
  width: 91.53333%; }

.col-12 {
  width: 100%; }

/* Navigation */
.arrow {
  position: absolute;
  width: 18px !important;
  height: 18px !important;
  bottom: 17px;
  right: 12px; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  outline: none;
  border: none;
  width: 100px;
  padding: 5px;
  color: #fff;
  background: url(../../img/arrow.svg) no-repeat right; }

/* Sections */
.sec-landing {
  height: 100vh;
  position: relative;
  background: url("../../img/surf-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }
  .sec-landing nav {
    float: right; }
    .sec-landing nav ul li {
      display: inline-block;
      margin: 2px 5px;
      color: #fff;
      font-size: 0.8em; }
      .sec-landing nav ul li .button {
        padding: 5px 10px; }
  .sec-landing .content {
    text-align: center;
    position: relative; }
    .sec-landing .content .content-heading h1 {
      font-size: 4.5em;
      color: #fff;
      font-family: 'Podriq';
      padding: 40px 0; }
    .sec-landing .content .content-heading h4 {
      font-size: 0.9em;
      color: #fff;
      font-family: 'Open Sans', sans-serif; }
  .sec-landing .sub-content {
    position: absolute;
    bottom: 30px;
    width: 100%; }
    .sec-landing .sub-content .browse {
      display: none !important;
      background-color: black;
      /* fallback for IE 8 and below */
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      display: inline-block;
      padding: 5px 10px 5px;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%);
      cursor: pointer;
      font-family: 'Open Sans', sans-serif;
      font-size: 0.7em; }
      .sec-landing .sub-content .browse img {
        height: 24px;
        width: 24px;
        display: inline-block;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%); }
      .sec-landing .sub-content .browse p {
        display: inline-block;
        margin-left: 27px; }
    .sec-landing .sub-content span:last-child {
      display: none !important;
      position: relative;
      display: inline-block;
      margin: 2em 0;
      color: #fff;
      text-align: center;
      font-size: 1.4em;
      float: right;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      padding: 8px 17px;
      right: 10px;
      cursor: pointer; }

#explore {
  height: 100%; }
  #explore #explore-container {
    height: 100%;
    text-align: center;
    position: relative; }
    #explore #explore-container #explore-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%; }
      #explore #explore-container #explore-content h1 {
        font-size: 1.6em;
        font-weight: bold;
        color: #003366;
        margin: 15px 0; }
      #explore #explore-container #explore-content p {
        line-height: 1.5;
        font-size: 0.9em; }
      #explore #explore-container #explore-content .button {
        display: inline-block;
        padding: 7px 25px;
        margin: 15px 0; }

#explore-img {
  background-color: #333;
  background-image: url();
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 50%; }

#steps {
  text-align: center;
  margin: 100px 0; }
  #steps h1 {
    font-size: 1.6em;
    font-weight: bold;
    color: #003366;
    margin: 15px 0; }
  #steps .step {
    padding: 20px; }
    #steps .step h2 {
      font-size: 1.2em;
      font-weight: bold;
      margin-bottom: 12px; }
    #steps .step p {
      font-size: 0.9em;
      margin: 0 20px; }

.sec-topspots {
  text-align: center;
  border-top: 1px solid #f5f5f5;
  padding: 40px 0; }
  .sec-topspots .topspot-guide {
    margin-top: 90px; }
  .sec-topspots .bigspot-content {
    position: relative;
    height: 100%;
    width: 90%;
    float: right;
    background: linear-gradient(rgba(0, 51, 102, 0.7), rgba(0, 51, 102, 0.7)), url("../../img/biarritz.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    .sec-topspots .bigspot-content .bigspot-content-text {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .sec-topspots .bigspot-content .rating {
      top: 7px;
      right: 7px; }
  .sec-topspots h1 {
    font-size: 1.6em;
    font-weight: bold;
    color: #003366; }
  .sec-topspots h4 {
    font-size: 0.8em;
    font-weight: bold;
    color: #003366;
    padding: 20px 0; }
  .sec-topspots .col-5 {
    padding: 0; }
  .sec-topspots .col-7 {
    position: relative;
    height: 500px; }
    .sec-topspots .col-7 .big-content {
      background-color: tomato; }
    .sec-topspots .col-7 h1 {
      font-size: 2em;
      color: #fff;
      text-shadow: 1px 1px 1px #333; }
    .sec-topspots .col-7 h4 {
      font-size: 0.8em;
      color: #fff;
      text-shadow: 1px 1px 1px #333; }
    .sec-topspots .col-7 .more {
      font-size: 0.8em; }
    .sec-topspots .col-7 span {
      font-size: 0.7em;
      position: absolute;
      top: 50px;
      right: 3px;
      color: #fff; }
  .sec-topspots .rating {
    position: absolute;
    top: 3px;
    right: 3px;
    background: #6696aa;
    color: #fff;
    padding: 10px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }

@font-face {
  font-family: 'Podriq';
  src: url("./../../fonts/podriq.woff2") format("woff2"), url("./../../fonts/podriq.woff") format("woff"); }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

p, h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif; }

.wrapper {
  width: 100%; }

.container {
  max-width: 1200px;
  margin: auto; }

.icon {
  height: 80px; }

li {
  cursor: pointer;
  font-family: 'Open Sans', sans-serif; }

header {
  margin: 0 0 30px 0;
  padding: 30px 30px; }
  header #logo {
    display: inline-block;
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    color: #fff; }

.search-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  color: #ccc; }
  .search-bar form {
    display: inline-block;
    font-family: 'Open Sans', sans-serif; }
    .search-bar form label {
      margin: 0 10px 0 20px;
      color: #003399;
      display: inline-block;
      font-size: 0.9em; }
    .search-bar form .group {
      position: relative;
      display: inline-block;
      width: 150px;
      margin: 0 10px 0 0;
      padding: 15px 0; }
      .search-bar form .group input {
        background: transparent;
        border: none;
        border-bottom: 1px solid #5264AE;
        -webkit-appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        width: 150px; }
      .search-bar form .group ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        font-size: 1.4em;
        color: #666; }
      .search-bar form .group ::-moz-placeholder {
        /* Firefox 19+ */
        font-size: 1.4em;
        color: #666; }
      .search-bar form .group :-ms-input-placeholder {
        /* IE 10+ */
        font-size: 1.4em;
        color: #666; }
      .search-bar form .group :-moz-placeholder {
        /* Firefox 18- */
        font-size: 1.4em;
        color: #666; }
      .search-bar form .group .bar {
        position: relative;
        display: block;
        width: 100%; }
      .search-bar form .group .bar:before, .search-bar form .group .bar:after {
        content: '';
        height: 1px;
        width: 0;
        bottom: 0;
        position: absolute;
        background: #5264AE;
        transition: 0.2s ease all; }
      .search-bar form .group .bar:before  {
        left: 0; }
      .search-bar form .group .bar:after {
        right: 0; }
      .search-bar form .group input:focus ~ .bar:before, .search-bar form .group input:focus ~ .bar:after {
        width: 50%; }
  .search-bar ul {
    float: right; }
    .search-bar ul li {
      display: inline-block; }
      .search-bar ul li .button {
        padding: 15px 30px; }
      .search-bar ul li:first-child {
        border-left: 1px solid #e2e2e2;
        padding: 15px 30px; }

.topspot {
  display: block;
  position: relative;
  margin: 25px 5px;
  text-align: left; }
  .topspot .topspot-content {
    display: inline-block;
    width: 65%; }
    .topspot .topspot-content h2, .topspot .topspot-content p {
      display: inline-block; }
    .topspot .topspot-content h2 {
      color: #003366;
      font-size: 1.2em;
      margin: 7px 0; }
    .topspot .topspot-content p {
      font-size: 0.8em;
      line-height: 20px; }
  .topspot img {
    object-fit: cover;
    width: 120px;
    height: 120px;
    margin-right: 10px;
    vertical-align: top; }
  .topspot:nth-child(2) {
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    padding: 25px 0;
    margin: 0 5px; }
    .topspot:nth-child(2) .rating {
      top: 30px; }
