$primary-color: #cccccc;
$top-spot-color: #000033;
$section-heading-color: #003366;
$button-bg-color: #009688;
$button-color: #fff;

$landing-headings: #fff;
$landing-nav: #fff;
$rating-bg: #6696aa;


// Media Queries

$mobile-small: 240;
$mobile-large:	320;
$tablet-small:	480;
$tablet-large:	768;
$screen-small:	1024;
$screen-large:	1280;
