@import './base/variables';

/* Buttons */

.button {
  background-color: $button-bg-color;
  color: $button-color;
  cursor: pointer;
}

#filter-button {
  &:hover {
    color: #0099cc;
  }
}

.circle {
  background-color: $button-bg-color;
}

.button-more {
  padding: 10px 25px;
  background-color: #007167;
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}
