/* Grid */

@function columnWidth($margin, $columnsCount) {
  @return (100% - ($margin * ($columnsCount - 1))) / $columnsCount;
}
@function calcWidth($width, $index, $margin){
  @return ($width * $index) + ($margin * ($index - 1));
}

$col-count: 12;
$col-margin: 1.6;
$col-width: columnWidth($col-margin, $col-count);

.row {

}

.row, .column {
  box-sizing: border-box;
}

.row:before,
.row:after {
  content: '';
  display: table;
}

.row:after {
  clear: both;
}

.column {
  position: relative;
  float: left;
  + .column {
    margin-left: $col-margin;
  }
}

@for $i from 1 through $col-count {
  .col-#{$i} {width: calcWidth($col-width, $i, $col-margin);}
}
