/* Sections */

.sec-landing {
  height: 100vh;
  position: relative;
  background: url('../../img/surf-bg.jpg') no-repeat center center fixed;
  @include background-size(cover);
  nav {
    float: right;
    ul {
      li {
        display: inline-block;
        margin: 2px 5px;
        color: $landing-nav;
        font-size: 0.8em;
        .button {
          padding: 5px 10px;
        }
      }
    }
  }
  .content {
    text-align: center;
    position: relative;
    .content-heading {
      h1 {
        font-size: 4.5em;
        color: $landing-headings;
        font-family: 'Podriq';
        padding: 40px 0;
      }
      h4 {
        font-size: 0.9em;
        color: $landing-headings;
        font-family: 'Open Sans', sans-serif;
      }
    }
  }
  .sub-content {
    position: absolute;
    bottom: 30px;
    width: 100%;
    .browse {
      display: none !important;
      background-color:rgb(0,0,0); /* fallback for IE 8 and below */
      background-color:rgba(0,0,0,0.5);
      color: #fff;
      display: inline-block;
      padding: 5px 10px 5px;
      @include center(false, true); // vertical
      cursor: pointer;
      font-family: 'Open Sans', sans-serif;
      font-size: 0.7em;
      img {
        height: 24px;
        width: 24px;
        display: inline-block;
        @include center(false, true); // vertical
      }
      p {
        display: inline-block;
        margin-left: 27px;
      }
    }
    span:last-child {
      display: none !important;
      @extend .circle;
      position: relative;
      display: inline-block;
      margin: 2em 0;
      color: #fff;
      text-align: center;
      font-size: 1.4em;
      float: right;
      @include border-radius(50%);
      padding:  8px 17px;
      right: 10px;
      cursor: pointer;
    }
  }
}


#explore {
  height: 100%;
  #explore-container {
    height: 100%;
    text-align: center;
    position: relative;
    #explore-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 80%;
      h1 {
        font-size: 1.6em;
        font-weight: bold;
        color: #003366;
        margin: 15px 0;
      }
      p {
        line-height: 1.5;
        font-size: 0.9em;
      }
      .button {
        display: inline-block;
        padding: 7px 25px;
        margin: 15px 0;
      }
    }
  }
}

#explore-img {
  background-color: #333;
  background-image: url();
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 50%;
}

#steps {
  text-align: center;
  margin: 100px 0;
  h1 {
    font-size: 1.6em;
    font-weight: bold;
    color: #003366;
    margin: 15px 0;
  }
  .step {
    padding: 20px;
    img {

    }
    h2 {
      font-size: 1.2em;
      font-weight: bold;
      margin-bottom: 12px;
    }
    p {
      font-size: 0.9em;
      margin: 0 20px;
    }
  }
}


.sec-topspots {
  text-align: center;
  border-top: 1px solid #f5f5f5;
  padding: 40px 0;
  .topspot-guide {
    margin-top: 90px;
  }
  .bigspot-content {
    position: relative;
    height: 100%;
    width: 90%;
    float: right;
    // background-color: seagreen;
    background: linear-gradient(
      rgba(0, 51, 102, 0.7),
      rgba(0, 51, 102, 0.7)
    ), url('../../img/biarritz.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .bigspot-content-text {
      @include center(true, true); // absolute
    }
    .rating {
      top: 7px;
      right: 7px;
    }
  }
  h1 {
    font-size: 1.6em;
    font-weight: bold;
    color: $section-heading-color;
  }
  h4 {
    font-size: 0.8em;
    font-weight: bold;
    color: $section-heading-color;
    padding: 20px 0;
  }
  .col-5 {
    padding: 0;
  }
  .col-7 {
    position: relative;
    height: 500px;
    .big-content {
      background-color: tomato;
    }
    h1 {
      font-size: 2em;
      color: #fff;
      text-shadow: 1px 1px 1px #333;
    }
    h4 {
      font-size: 0.8em;
      color: #fff;
      text-shadow: 1px 1px 1px #333;
    }
    .more {
      font-size: 0.8em;
    }
    span {
      font-size: 0.7em;
      position: absolute;
      top: 50px;
      right: 3px;
      color: #fff;
    }
  }
  .rating {
    position: absolute;
    top: 3px;
    right: 3px;
    background: $rating-bg;
    color: #fff;
    padding: 10px 10px;
    @include border-radius(5px);
  }
}
