.sec-spotinfo {
    position: relative;
    background: url('../../img/surf-bg.jpg') no-repeat bottom fixed;
    height: 650px;
    @include background-size(cover);
    nav {
      float: right;
      ul {
        li {
          display: inline-block;
          margin: 2px 5px;
          color: $landing-nav;
          font-size: 0.8em;
          .button {
            padding: 5px 10px;
          }
        }
      }
    }
}

.spot-top-content {
    width: 100%;
    padding: 150px 30px;
    &-title {
        display: inline-block;
        h1 {
            color: #333;
            font-size: 4em;
            font-family: Podriq;
        }
        h3 {
            color: #333;
            font-size: 1em;
        }
    }
    .rating {
        padding: 20px;
        border-radius: 4px;
        background-color: #333;
        color: #fff;
        display: inline-block;
        vertical-align: top;
        margin-top: 7px;
        margin-right: 20px;
    }
}

.content {
    margin: 50px 0;
    h2 {
        color: #333;
        font-size: 2em;
        margin: 20px 0;
    }
    p {
        font-size: 0.9em;
        line-height: 2;
        margin-bottom: 15px;
    }
}

.main-content {
    padding-right: 20px;
    padding-left: 20px;
}

// BUTTON

.sidebar {
    text-align: center;
    position: relative;
}

.btn {
    border: 1px solid #333;
    display: inline-block;
    padding: 5px 10px;
}

.btn-notification {
    padding: 10px 20px;
    background-color: seagreen;
    color: #fff;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 0.6em;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 0.2em;
    margin: 15px 0;
    &:first-of-type {
        margin-top: 80px;
    }
}

// Service

.sidebar-right {
    ul {
        margin-top: 50px;
        .service {
            display: block;
            margin: 10px 0;
        }
    }
}

// Related

.related {
    text-align: center;
    margin: 50px 0;
    h1 {
        font-size: 1.8em;
        margin: 10px 0;
    }
    span {
        font-size: 0.7em;
    }
    .topspots {
        width: 70%;
        margin: 0 auto;
        text-align: left;
    }
}
