/* Navigation */

.arrow {
  position: absolute;
  width: 18px !important;
  height: 18px !important;
  bottom: 17px;
  right: 12px;
}

select {
  @include appearance(none);
  @include border-radius(0px);
  outline: none;
  border: none;
  width: 100px;
  padding: 5px;
  color: #fff;
  background: url(../../img/arrow.svg) no-repeat right;

}
