@import './base/reset';
@import './base/mixins';
@import './base/variables';
@import './components/buttons';
@import './components/grid';
@import './components/navigation';
@import './components/sections';


@font-face {
  font-family: 'Podriq';
  src:  url('./../../fonts/podriq.woff2') format('woff2'),
        url('./../../fonts/podriq.woff') format('woff');
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p, h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.icon {
  height: 80px;
}

li {
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}

header {
  margin: 0 0 30px 0;
  padding: 30px 30px;
  #logo {
    display: inline-block;
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
  }
}

.search-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  color: #ccc;
  form {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    label {
      margin: 0 10px 0 20px;
      color: #003399;
      display: inline-block;
      font-size: 0.9em;
    }
    .group {
      position: relative;
      display: inline-block;
      width: 150px;
      margin: 0 10px 0 0;
      padding: 15px 0;
      input {
        background: transparent;
        border: none;
        border-bottom: 1px solid #5264AE;
        -webkit-appearance: none;
        -moz-appearance:    none;
        @include appearance(none);
        outline: none;
        width: 150px;
      }
      @include placeholder {
        font-size: 1.4em;
        color: #666;
      }
      .bar { position: relative; display: block; width: 100%; }
      .bar:before, .bar:after {
        content: '';
        height: 1px;
        width: 0;
        bottom: 0;
        position: absolute;
        background: #5264AE;
        transition: 0.2s ease all;
      }
      .bar:before {
        left: 0;
      }
      .bar:after {
        right: 0;
      }
      input:focus ~ .bar:before, input:focus ~ .bar:after {
        width: 50%;
      }
    }
  }
  ul {
    float: right;
    li {
      display: inline-block;
      .button {
        padding: 15px 30px;
      }
      &:first-child {
        border-left: 1px solid #e2e2e2;
        padding: 15px 30px;
      }
    }
  }
}

.topspot {
  display: block;
  position: relative;
  margin: 25px 5px;
  text-align: left;
  .topspot-content {
    display: inline-block;
    width: 65%;
    h2,p {
      display: inline-block;
    }
    h2 {
      color: $section-heading-color;
      font-size: 1.2em;
      margin: 7px 0;
    }
    p {
      font-size: 0.8em;
      line-height: 20px;
    }
  }
  img {
    object-fit: cover;
    width: 120px;
    height: 120px;
    margin-right: 10px;
    vertical-align: top;
  }
  &:nth-child(2) {
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    padding: 25px 0;
    margin: 0 5px;
    .rating {
      top: 30px;
    }
  }
}

@import './components/spot';